<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SQL Injection Demo</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <h1>Lab 5: XSS</h1>
    <hr/>
<form th:action="@{/index}" action="/index" th:object="${form}" th:method="POST">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required="required" th:field="*{login}"/>

            </div>
        </div>
    </div>
    <button class="form-control btn btn-success" name="enter" type="submit">Войти</button>
</form>

</div>
</body>
</html>